In [1]:
import os
import sys
import json

In [2]:
uppath = lambda _path, n: os.sep.join(_path.split(os.sep)[:-n])
BASE_DIR = os.path.dirname(os.path.abspath('__file__'))
module_path = uppath(BASE_DIR, 1)  # root_path
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
auth_file = os.path.join(module_path, '.config/api-key')
with open(auth_file, 'r') as f:
    apiKey = f.read()

In [5]:
from notion_api.apis import NotionApi

In [6]:
notion = NotionApi(apiKey)
page_id = '0208c4a6f50d45a287ccbeed9e328df2'
d = notion.convert_db_to_df(page_id)

In [7]:
d[0]

,mail,chk,하나만,태그,컬럼,날짜,숫자,Property,이름
페이지 내 이름 1,test@test.com,False,일번,태그 1,데이터 1\ndata 1\nDATA 1,2022-08-01,1209,In progress,페이지 내 이름 1
페이지 내 이름 3,abc@abc.com,False,None,None,None,None,8656,Done,페이지 내 이름 3
페이지 내 이름 2,123@123.com,True,이번,태그 2,데이터 2,2022-08-30,987,None,페이지 내 이름 2

In [8]:
d[1]

         Property        데이터    태그        이름
인라인 이름 2     None  인라인 데이터 2  태그 2  인라인 이름 2
인라인 이름 1      박민영  인라인 데이터 1  태그 1  인라인 이름 1
NaN          None       None  None      None